app = "copypaste-fyi"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  ROCKET_ADDRESS = "0.0.0.0"
  ROCKET_PORT = "8000"
  RUST_LOG = "info"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
  memory_mb = 256
